@font-face {
	font-family: "TitilliumLight";
	font-weight: lighter;
	src: url("/css/defaults/fonts/TitilliumText25L005.otf") format("opentype");
}

@font-face {
	font-family: "Titillium";
	font-weight: normal;
	src: url("/css/defaults/fonts/TitilliumText25L003.otf") format("opentype");
}

@font-face {
	font-family: "TitilliumBold";
	font-weight: bold;
	src: url("/css/defaults/fonts/TitilliumText25L001.otf") format("opentype");
}

@font-face {
	font-family: "TitilliumBolder";
	font-weight: bolder;
	src: url("/css/defaults/fonts/TitilliumText25L.otf") format("opentype");
}

@font-face {
	font-family: "TitilliumTitle";
	font-weight: normal;
	src: url("/css/defaults/fonts/TitilliumTitle20.otf") format("opentype");
}

/*@import url(http://fonts.googleapis.com/css?family=Quicksand);*/
/*@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);*/
/*@import url(http://fonts.googleapis.com/css?family=Poly);*/

body {
	font-family: 'Helvetica' Arial, Sans-Serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #DFE1D8 url('../../img/bg.jpg');
	background-attachment: fixed;
	color: #3E3E3E;
	text-shadow: 0 1px 0 #EDF0EA; /* usefull ? */
	-webkit-font-smoothing: antialiased; /* works only for macos x */

	/*border collapse fix*/
	padding-top: 1px;
	margin-top: -1px;
}

/* Make background gradients fill the window canvas */
html, body {
	height: 100%;
}

hr {
	background-color: #f5f5f5;
	border: 3px solid #f5f5f5;
}

.clear {
	clear: both;
}

.baseContainer {
	width: 994px;
	margin: 0 auto 0 auto;
	padding: 15px;
}

.popup {
	padding: 15px;
	border: 5px solid #95c45c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
}

.hoverDisplay span {
	visibility: hidden;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.hoverDisplay:hover span {
	visibility: visible;
}

/* BEGIN: Lists */
ul.inline,
ol.inline {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.inline > li,
ol.inline > li{
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}

ul.dropdown > li {
	position: relative;
}

ul.dropdown > li > ul {
	display: none;
	margin: 0;
	padding: 0;
}

ul.dropdown > li:hover {
	background: #95c45c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: none;
	color: #f5f5f5;
}

ul.dropdown > li:hover > ul {
	display: block;
	position: absolute;

	background: #95c45c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: none;
	color: #f5f5f5;
}
/* END: Lists */

/* BEGIN: HEADERS*/
header {
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5{
	font-family: 'TitilliumTitle', Arial, Sans-Serif;
	font-weight: normal;

	margin: 7px 0 5px 0;
}

h1 {
	color: #95c45c;
	font-size: 45px;
}

h2 {
	color: #b0cd59;
	font-size: 35px;
}

h3 {
	color: #ccc;
	font-size: 30px;
}

h4 {
	color: #000;
	font-size: 24px;
}

h5 {
	color: #ccc;
	font-size: 22px;
}
/* END: HEADERS*/

/* BEGIN: Anchors */
a {
	padding: 2px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px dashed black;
}

a:visited {
	color: #000;
}

a:hover {
	background: #95c45c;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: none;
	color: #FEFEFE;
}

a.active {
	background: #95c45c;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/* END: Anchors */

/* BEGIN: Generic table */
table {
	width: 100%;
	margin: 10px 0 10px 0;
	padding: 0;
	table-layout: fixed;
}

table > caption{
}

table > thead,
table > tfoot {
	font-family: "TitilliumBold", Helvetica, Sans-serif;
	font-size: 18px;
}

table > thead th,
table > tfoot td {
	background-color: #95c45c;
	padding: 10px;
}

table thead th:first-child {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

table thead th:last-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

table tfoot td:last-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

table tfoot td:first-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

table > tbody > tr {
}

table > tbody > tr.odd {
	background-color: #f5f5f5;
}

table > tbody td.selected {
}

table > tbody td {
	padding: 6px 8px;
}

table > tbody > tr:hover {
}

table > tbody > tr:hover td {
}

table > caption {
}
/* END: Generic table */

/* BEGIN: Generic form */
fieldset {
	padding: 15px;
	border: 5px solid #95c45c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

legend {
	color: #b0cd59;
	font-weight: bold;
	font-size: 24px;
}

label {
	width: 250px;
	margin: 20px 5px 0 0;
	text-align: right;
	display: inline-block;
}

div.tagsinput {
	margin: 15px;
}

input[readonly="readonly"] {
	background: inherit;
	border: 0;
	color: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
	border: 1px #EEE;
	margin: 15px;
	padding: 5px;
	width: 220px;
	
	/* Rounded corners */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Inset shadow*/
	-webkit-box-shadow: inset 2px 2px 5px 2px rgba(10, 10, 10, 0.2);
	-moz-box-shadow: inset 2px 2px 5px 2px rgba(10, 10, 10, 0.2);
	box-shadow: inset 2px 2px 5px 2px rgba(10, 10, 10, 0.2);

	/* Background color */
	background-color : #FEFEFE;

	font-size: 14px;
}

input[type="file"] {
	margin: 15px;
	padding: 5px;
	width: 300px;

	font-size: 14px;
}

input[type="submit"] {
	margin: 15px 0 0 270px;
	/*padding: 5px 15px;*/
	padding: 3px 12px;
	font-size: 14px;

	-webkit-user-select: none;
	margin-bottom: 2px;
	-o-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
	-webkit-transition: border-color .218s;
	font-weight: bold;
	/*padding-top: 7px;
	padding-bottom: 7px;*/
	text-shadow: 0 1px 0 white;

	/*Background Color*/
	background: -moz-linear-gradient(top, rgba(246,248,249,0.4) 0%, rgba(241,241,241,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,0.4)), color-stop(100%,rgba(241,241,241,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246,248,249,0.4) 0%,rgba(241,241,241,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246,248,249,0.4) 0%,rgba(241,241,241,0.7) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(246,248,249,0.4) 0%,rgba(241,241,241,0.7) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66f6f8f9', endColorstr='#b3f1f1f1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(246,248,249,0.4) 0%,rgba(241,241,241,0.7) 100%); /* W3C */

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	
	text-align: center;
	vertical-align: middle;
	cursor: default;
	font: 75% arial,sans-serif;
	color: #666;
}

input[type="submit"]:hover {

	background: -moz-linear-gradient(top, rgba(241,241,241,0.7) 0%, rgba(246,248,249,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,0.7)), color-stop(100%,rgba(246,248,249,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,241,241,0.7) 0%,rgba(246,248,249,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,241,241,0.7) 0%,rgba(246,248,249,0.4) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(241,241,241,0.7) 0%,rgba(246,248,249,0.4) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f1f1f1', endColorstr='#66f6f8f9',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(241,241,241,0.7) 0%,rgba(246,248,249,0.4) 100%); /* W3C */
}

fieldset ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

fieldset ul li {
	margin: 0;
	padding: 0;
}
/* END: Generic form */

.number {
	/*font-family: 'Quicksand', sans-serif;
	font-family: 'Gochi Hand', cursive;*/
	font-family: 'Poly', serif;
	font-weight: normal;
}

#notifications {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 128px;
	width: 128px;
	background-image: url('/img/turtleangle128x128.png');
}