/* BEGIN: HEADER*/
body > header {
	position: fixed;
	width:100%;
	/*height:35px;*/
	background:#FFF;
	border: none;
	border-bottom: 3px solid #f5f5f5;
	/*padding:10px;*/
	margin: 0;
	z-index: 2500;
}

body > header:after {
	content: ".";  
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

#logo {
	float: right;
	right:10px;
	border: none;
}

#logo:hover {
	background: none;
}

#logo img {
	width: 128px;
}

body > header nav {
	padding: 5px 0 0 0;
}

body > header nav li a {
	padding: 0px 5px 0 5px;
	margin: 0 5px 0 5px;

	font-size: 30px;
	font-family: 'Titillium', Arial, Sans-Serif;
	text-transform: uppercase;
	border: none;
}

body > header nav li a:hover {
	color: #f5f5f5;
	background: #95c45c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

body > header + *,
body > header + .baseContainer {
	margin-top:50px;
}
/* END: HEADER*/