p.flash-message {
	width: 994px;
	margin: 30px auto 30px auto;
	padding: 15px;
	text-align: center;
}

p.error, div.error {
    background:#fee;
    border:1px solid red;
    /*margin:1.5em;
    padding:0.666em;
    text-align:center;*/
}

p.notice, div.notice {
    background:#eef;
    border:1px solid #00f;
    /*margin:1.5em;
    padding:0.666em;
    text-align:center;*/
}

p.success, div.success {
    background:#efe;
    border:1px solid #0f0;
    /*margin:1.5em;
    padding:0.666em;
    text-align:center;*/
}

p.warning, div.warning {
    background:#ffe;
    border:1px solid #ff0;
    /*margin:1.5em;
    padding:0.666em;
    text-align:center;*/
}

p.required, div.required {
    font-weight: bold;
}