/* BEGIN: TABLE*/
table.transactions {
	width: 70%;
	border-collapse: collapse;
	table-layout: fixed;
	/*Ombre autour du tableau*/
	-webkit-box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
	-moz-box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
	box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
}

table > caption {
}

table > thead,
table > tfoot {
	font-weight: bold;
}

table.transactions thead th,
table.transactions tfoot td {
	background-color: #95c45c;
	padding: 10px;
}

table.transactions thead th:first-child {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

table.transactions thead th:last-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

table.transactions tfoot td:last-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

table.transactions tfoot td:first-child {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}


table.transactions tbody tr {
	background-color: #ffffff;
}

table.transactions tbody tr.odd {
	background-color: #fcfcfc;
}

table.transactions tbody tr:hover {
	cursor: pointer;
}

table.transactions tbody tr:hover,
table.transactions tbody tr.selected {
	background-color: #FFFCCF;
}

table.transactions tbody td {
	padding: 10px;
}

table.transactions .select {
	width: 40px;
}

table.transactions .actions {
	width: 25px;
	text-align: center;
}

/*table.transactions .columnTitle{
	text-align:left;
}*/

table.transactions .date {
	width: 75px;
	text-align: center;
}

table.transactions .description {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

table.transactions .unverified {
	font-weight: bold;
}

table.transactions .amount {
	text-align: center;
	font-size:18px;
	width: 90px;
}

table.transactions .debit {
	color: #d33030;
}
table.transactions .credit {
	color: #47760f;
	text-align:left;
}

table.transactions .alignRight {
	text-align: right;
}

table.transactions .category {
	width: 100px;
}

table.transactions .meta {
	font-size: 90%;
}

table.transactions span.category,
table.transactions span.tag {
	font-size: 0.8em;
	width: auto;
	margin: 2px 2px 2px 2px;
	padding: 2px 4px 2px 4px;
	background: white;
	border-radius: 8px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}

table.transactions time {
	width: 50px;
	margin: 0 auto 0 auto;
	font-size: 11px;
	text-align: center;
	color: #b3884f;
	display: block;
}

table.transactions a {
	border: none;
}

table.transactions time div.d {
	font-size: 170%;
	font-weight: bold;
}

table.transactions time div.m {
	text-transform: uppercase
}
/* END: TABLE*/