/* BEGIN: TRANSACTION DETAILS */
#details {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	border: none;

	background-color: #FFFEEF;
	border-radius: 0 5px 5px 0;

	/*Ombre autour du tableau*/
	-webkit-box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
	-moz-box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
	box-shadow: 2px 2px 10px 2px rgba(30, 30, 30, 0.1);
}

#details > article,
#details > section {
	padding: 5px;
}
/* END: TRANSACTION DETAILS */